li {
  padding: 10px;
  border: 1px solid black;
  width: 80%;
  margin: 2px;
}

ul {
  padding: 0px;
  margin: 0px;
  overflow: auto;
  max-height: 300px;
  width: 250px;
}

ul.id {
  float: left;
}

.div-form {
  float: right;
  margin-right: 24%;
}

.show-event {
  word-break: break-all;
}